* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}
body{
    overflow-y:auto;
    overflow-x: hidden;
}
img{
    width: max-content;
}
/* from here, its for three line of nav bar  */
.nav-icon {
    display: inline-block;
    width: 35px;
    /* padding: 3px; */
}
.bg-dark{
    background: #222 !important;
}
.navbar-toggler {
    padding: 5px 10px;
}

.bar1,
.bar2,
.bar3 {
    width: 100%;
    height: 3px;
    margin: 5px 0;
    background: #fff;
    z-index: 1;
    transition: 0.5s ease;
}

.active .bar1 {
    transform: translateY(8px) rotate(135deg);
}

.active .bar2 {
    opacity: 0;
}

.active .bar3 {
    transform: translateY(-8px) rotate(-135deg);
}
/* here endes the nav bar icon  */

/* Dropdown property modification */
.dropdown-menu {
    background-color: transparent;
}

.dropdown-item {
    color: white;
}
/* first carousel modificaton goes form here */
.carousel img {
    width: 100%;
    height: 90vh;
}
.second{
    height: 90vh;
}

/* boxes of number of expericene and work goes from here  */
.boxes {

    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boxes .box1 {
    position: relative;
    font-size: 1.3em;
    justify-self: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

.boxes .box1 h2 {
    font-size: 3em;
    color: tomato;
}

.boxes .box1 p {
    font-weight: 700;
}

/* details of our developers goes from here  */
.card-carousel {
    margin: 10px;
    position: relative;
    width: 100%;
    height: 300px;
    color: black;
    background: #eee;
}
    /* this is insdie the details of our developer but it is for cards  */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/* card flip goes from here  */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-front img{
    width: 100%;
    height: 100%;
}
.flip-card-back {
    padding: 50px 0;
    font-size: 1.2em;
    background: linear-gradient(to right top,blue,deeppink);
    color: white;
    transform: rotateY(180deg);
    text-transform: capitalize;
}
/* here details of our developers ends  */
.work {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
}

.title {
    margin: 40px;
    height: fit-content;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 2px groove black;
}

.sidenav {
    align-self: center;
    font-size: 1.2em;
    line-height: 2em;
    transition: 0.2s ease;
    width: fit-content;
}

.sidenav li {
    padding: 0 20px;
}

.sidenav li span {
    border: 2px solid black;
    padding: 3px 10px;
    margin: 10px;
    border-radius: 50%;
    transition: 0.2s ease;
}

.sidenav li a {
    position: relative;
    transition: 0.2s ease;
    text-decoration: none;
    color: black;
    padding-right: 5px;
    border-bottom: 0px solid black;
}

.sidenav li a:hover {
    border-bottom-style: groove;
    border-width: 3px;
}

.work .details {
    display: none;
    border: 2px solid black;
    border-radius: 10px;
    height: fit-content;
    margin: 10px;
}

.work .active {
    display: block;
}
.footer{
    width: 100%;
    font-size: 1em;
    background: #00121b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.footer-item{
    min-height: 100%;
    padding:10px ;
    
}
.footer-item h1{
    color: white;
    transition: all 0.2s;
}
.footer-item p{
    color: #777;
    transition: all 0.2s;
}
.footer-item h2{
    color: #888;
    transition: all 0.2s;
}

.border{
    height: 2px;
    width: 50%;
    border: transparent !important;
    background: #ff9800;
}
.footer-item ul li {
    margin: 6px 0;
}
.footer-item ul li a{
    color: white;
    transition: all 0.2s;
    
    text-decoration-line: none;
}
.footer-item h1:hover,
.footer-item h2:hover,
.footer-item p:hover,
.footer-item ul li a:hover,
.footer-item ul li:hover{
    cursor: pointer;
    color: #ff9800 ;
    text-shadow: 0 0 5px 15px #ff9800;
}
.footer-item ul li i{
    padding: 5px;
}
.footer-item ul li {
    color: #888;
}
.footer-item .social-media ul {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
    justify-content: space-around;
}
.footer-item .social-media ul li{
    color: #aaa;
    font-size:2em ;
    transition: all 0.4s ;
}
.footer-item .social-media ul li:hover{
    color: #ff9800;
    text-shadow: 0 0 10px 15px #ff9800;
}